<html>
	<head>
	</head>
	<body>
		<h1 style="font: 40px; color: red">FINISH HIM!!!</h1>
		<h1>Desea hacer Fatality</h1>

		<table style="width:100%">
  			<tr>
				<form action="/sifatality" method="post"> 
				<input type="submit" name= "fatality" value="Fatality">
				</form>
			</tr>
			<tr>
				<form action="/nofatality" method="post"> 
				<input type="submit" name= "nofatality" value="No Fatality">
			</tr>
		</table>
		</form>

	</body>
</html>



