<html>
	<head>
	</head>
	<body>
		<h1>Desea hacer Fatality</h1>
		<form action="/sifatality" method="post"> 
			<input type="submit" name= "fatality" value="Fatality">
			
		</form>

		<form action="/nofatality" method="post"> 
			<input type="submit" name= "nofatality" value="No Fatality">
			
		</form>

	</body>
</html>



