<html>
	<table style="" border="1" width="100%" height="100%">
	<tr>
		<td style="width:100%; padding:0">	
			<table border="1" width="100%">
				<tr>
					<td style="width:50%">Player1</td>
					<td style="width:50%">Player2</td>
				</tr>
				<tr>
					<td style="width:50%">Energia1: 100%</td>
					<td style="width:50%">Energia2: <%= @@energia2 %>%</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr style="height:100%">
			<td style="width:100%" border="1">
					<table border="1" width="100%" height="100%">
						<tr style="height:100%; width:100%">
							<td style="width:50%; text-align: center">IMAGEN SCORPION</td>
							<td style="width:50%; text-align: center">IMAGEN SUB-ZERO</td>
						</tr>
						<tr style="width:100%">
							<td style="width:50%; text-align: center">
								<form action="/pegar" method="post">
									<input type="submit" value="Pegar" id="pegar" name="pegar">
								</form>			
								<form action="/fatality" method="post">
									<input type="submit" value="Ganar">
								</form>						
							</td>
							<td style="width:50%; text-align: center">
							</td>
						</tr>
					</table>
			</td>
	</tr>





	
</html>
