<html>
	<table style="" border="1">
	<tr>
		<td style="width:100%">	
			<table border="1">
				<tr>
					<td style="width:50%">Player1</td>
					<td style="width:50%">Player2</td>
				</tr>
				<tr>
					<td style="width:50%">Energia1: 100%</td>
					<td style="width:50%">Energia2: 100%</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
			<td style="width:100%" border="1">
					<table>
						<tr>
							<td style="width:50%">IMAGEN SCORPION</td>
							<td style="width:50%">IMAGEN SUB-ZERO</td>
						</tr>
					</table>
			</td>
	</tr>





	
</html>
