<html>
	<head>
	</head>
	<body>
		<h1 style="font: 10px;">Jugador Wins...</h1>
			<table style="width:100%">
  				<tr>
					<form action="/" method="get"> 
						<input type="submit" name= "volver" id="volver" value="Volver a jugar">
					</form>
			</tr>
		</table>
	</body>
</html>

